<h1>Stupid Coaching</h1>

<div id="question" >
  <p><%=@question%></p>
  <p><em>-You</em></p>
</div>

<blockquote>
  <p><%=@answer%></p>
  <p><em>-Your coach</em></p>
</blockquote>


<%= link_to  "Ask a new question", ask_path() %>
